In [15]:
!pip install wbdata
import wbdata

Requirement already satisfied: wbdata in /opt/conda/lib/python3.9/site-packages (0.3.0)
Requirement already satisfied: appdirs<2.0,>=1.4 in /opt/conda/lib/python3.9/site-packages (from wbdata) (1.4.4)
Requirement already satisfied: tabulate>=0.8.5 in /opt/conda/lib/python3.9/site-packages (from wbdata) (0.9.0)
Requirement already satisfied: decorator>=4.0 in /opt/conda/lib/python3.9/site-packages (from wbdata) (5.0.9)
Requirement already satisfied: requests>=2.0 in /opt/conda/lib/python3.9/site-packages (from wbdata) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (2.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (3.1)

In [63]:
# population(year=2000,sex='Male',age_range=(0,100),place='WLD')
def population(year, sex, age_range, place):
    
    age_range = [age_range[0], age_range[1]]
    
    # find the age ranges required
    age_ranges = []

    # Obtain lower end of lower age range
    if age_range[0] % 5 != 0:
        age = 0
        while age_range[0] - 5 > age:
            age = age + 5
        age_range[0] = age
    
    # Ranges top out at 80, and go in five year increments
    for i in range(age_range[0],age_range[1],5):
        age_ranges.append(f"{i:02d}"+f"{i+4:02d}")

    if age_range[1] >= 80:
        age_ranges.append("80UP")
    
    # determine indicators (age range + sex)
    variables = {}
    if sex=='Male':
        variables = {"SP.POP."+age_range+".MA":"Males "+age_range for age_range in age_ranges}
    elif sex=='Female':
        variables = {"SP.POP."+age_range+".FE":"Females "+age_range for age_range in age_ranges}
    
    # obtain relevant dataframe from wbdata
    df = wbdata.get_dataframe(variables, place)
    
    df = df.reset_index()
    df = df[df['date']==str(year)]
    
    return df

population(year=2000, sex='Male', age_range=(67, 76), place='IND')

    date  Males 6569  Males 7074  Males 7579
21  2000   9423233.0   6508084.0   3795007.0

In [14]:
male_variables = {"SP.POP."+age_range+".MA":"Males "+age_range for age_range in age_ranges}
female_variables = {"SP.POP."+age_range+".FE":"Females "+age_range for age_range in age_ranges}

variables = male_variables
variables.update(female_variables)

#print(variables)

In [12]:

#wbdata.get_dataframe(variables, country='IND')

,Males 0004,Males 0509,Males 1014,Males 1519,Males 2024,Males 2529,Males 3034,Males 3539,Males 4044,Males 4549,...,Females 3539,Females 4044,Females 4549,Females 5054,Females 5559,Females 6064,Females 6569,Females 7074,Females 7579,Females 80UP
date,,,,,,,,,,,,,,,,,,,,,
2021,59967170.0,63226616.0,65685028.0,67336800.0,66257488.0,63129365.0,59247344.0,54325266.0,47639454.0,42078054.0,...,50436183.0,44528837.0,39938624.0,34835102.0,29953537.0,25038908.0,19773332.0,13496452.0,8407784.0,8528250.0
2020,60771735.0,63921193.0,65906417.0,67689391.0,65745248.0,62448056.0,58647559.0,53259451.0,46635684.0,41235304.0,...,49403314.0,43621841.0,39150349.0,34130103.0,29401712.0,24542975.0,19232661.0,12886752.0,8263871.0,8441710.0
2019,61477642.0,64694620.0,66211111.0,67717185.0,65304629.0,61741661.0,57951684.0,52121119.0,45718441.0,40324192.0,...,48328849.0,42803598.0,38305755.0,33429350.0,28764776.0,23966692.0,18560826.0,12193809.0,8066522.0,8128173.0
2018,62141421.0,65292593.0,66620730.0,67533940.0,64853973.0,61140763.0,57148264.0,50918972.0,44929047.0,39413305.0,...,47214880.0,42103047.0,37457726.0,32747491.0,28103094.0,23353388.0,17735236.0,11628517.0,7886952.0,7748737.0
2017,62896956.0,65628438.0,67109766.0,67206810.0,64318022.0,60533185.0,56210573.0,49730482.0,44137064.0,38548676.0,...,46127003.0,41400243.0,36648140.0,32076830.0,27456414.0,22697541.0,16811020.0,11219858.0,7723673.0,7344968.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,40771906.0,34335705.0,29747995.0,22968896.0,19901599.0,18368235.0,16554621.0,14826766.0,12910274.0,11093337.0,...,13354064.0,11599635.0,10135545.0,8682551.0,7186538.0,5290356.0,4053138.0,2332423.0,1492406.0,732038.0
1963,39927500.0,33592468.0,28603502.0,22091658.0,19672185.0,18123100.0,16340580.0,14571390.0,12687699.0,10857494.0,...,13096815.0,11422316.0,9957473.0,8570098.0,6912251.0,5246833.0,3824988.0,2340121.0,1392888.0,716725.0
1962,39131230.0,32789713.0,27209396.0,21559788.0,19496179.0,17843702.0,16126430.0,14303111.0,12470781.0,10619780.0,...,12853098.0,11252551.0,9775941.0,8461562.0,6612047.0,5247319.0,3554235.0,2397195.0,1258651.0,719304.0
1961,38370252.0,31939464.0,25856100.0,21100320.0,19326767.0,17567182.0,15900594.0,14036817.0,12248339.0,10399599.0,...,12621482.0,11080530.0,9605454.0,8320196.0,6348345.0,5217391.0,3323868.0,2433650.0,1131698.0,728607.0
1960,37628588.0,31060104.0,24572658.0,20698029.0,19132866.0,17320573.0,15659741.0,13782977.0,12016145.0,10206806.0,...,12402638.0,10902830.0,9452668.0,8126831.0,6159498.0,5108152.0,3181651.0,2409119.0,1041828.0,733547.0