In [1]:
!pip install wbdata
import wbdata

Collecting wbdata
  Using cached wbdata-0.3.0-py3-none-any.whl (14 kB)
Requirement already satisfied: requests>=2.0 in /opt/conda/lib/python3.9/site-packages (from wbdata) (2.26.0)
Requirement already satisfied: tabulate>=0.8.5 in /opt/conda/lib/python3.9/site-packages (from wbdata) (0.9.0)
Requirement already satisfied: appdirs<2.0,>=1.4 in /opt/conda/lib/python3.9/site-packages (from wbdata) (1.4.4)
Requirement already satisfied: decorator>=4.0 in /opt/conda/lib/python3.9/site-packages (from wbdata) (5.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (2.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (2021.10.8)
Installing collected packages: wbdata
Successfully installed wbdata-0.3.0

In [3]:
# Data from WDI on age-sex comes in the forms of variables
# which take the form "SP.POP.LLHH.MA" for males
# and "SP.POP.LLHH.FE" for females, where LL is the *low* end of
# age range, like "05" for 5-yo, and HH is the *high* end.

# We construct a list of age-ranges.

# Start with an empty list of age-rages
age_ranges = []

# Ranges top out at 80, and go in five year increments
for i in range(0,80,5):
    age_ranges.append(f"{i:02d}"+f"{i+4:02d}")

age_ranges.append("80UP")

print(age_ranges)

['0004', '0509', '1014', '1519', '2024', '2529', '3034', '3539', '4044', '4549', '5054', '5559', '6064', '6569', '7074', '7579', '80UP']

In [4]:
male_variables = {"SP.POP."+age_range+".MA":"males "+age_range for age_range in age_ranges}
female_variables = {"SP.POP."+age_range+".FE":"females "+age_range for age_range in age_ranges}

variables = male_variables
variables.update(female_variables)

print(variables)

{'SP.POP.0004.MA': 'males 0004', 'SP.POP.0509.MA': 'males 0509', 'SP.POP.1014.MA': 'males 1014', 'SP.POP.1519.MA': 'males 1519', 'SP.POP.2024.MA': 'males 2024', 'SP.POP.2529.MA': 'males 2529', 'SP.POP.3034.MA': 'males 3034', 'SP.POP.3539.MA': 'males 3539', 'SP.POP.4044.MA': 'males 4044', 'SP.POP.4549.MA': 'males 4549', 'SP.POP.5054.MA': 'males 5054', 'SP.POP.5559.MA': 'males 5559', 'SP.POP.6064.MA': 'males 6064', 'SP.POP.6569.MA': 'males 6569', 'SP.POP.7074.MA': 'males 7074', 'SP.POP.7579.MA': 'males 7579', 'SP.POP.80UP.MA': 'males 80UP', 'SP.POP.0004.FE': 'females 0004', 'SP.POP.0509.FE': 'females 0509', 'SP.POP.1014.FE': 'females 1014', 'SP.POP.1519.FE': 'females 1519', 'SP.POP.2024.FE': 'females 2024', 'SP.POP.2529.FE': 'females 2529', 'SP.POP.3034.FE': 'females 3034', 'SP.POP.3539.FE': 'females 3539', 'SP.POP.4044.FE': 'females 4044', 'SP.POP.4549.FE': 'females 4549', 'SP.POP.5054.FE': 'females 5054', 'SP.POP.5559.FE': 'females 5559', 'SP.POP.6064.FE': 'females 6064', 'SP.POP.6569.FE': 'females 6569', 'SP.POP.7074.FE': 'females 7074', 'SP.POP.7579.FE': 'females 7579', 'SP.POP.80UP.FE': 'females 80UP'}

In [12]:
# WLD is the World; substitute your own code or list of codes.
# Remember you can search for the appropriate codes using
# wbdata.search_countries("")

df = wbdata.get_dataframe(variables,country="WLD")
print(df)
print(df.query("date=='2020'").sum(axis=0))

       Males 0004   Males 0509   Males 1014   Males 1519   Males 2024  \
date
2021  344650023.0  351823148.0  340134768.0  321211465.0  309096185.0
2020  348843527.0  350861843.0  336694403.0  319186586.0  307711749.0
2019  351934193.0  349385852.0  332876020.0  317132294.0  306772989.0
2018  354088174.0  347389724.0  329029796.0  315050425.0  306524173.0
2017  355156429.0  344546700.0  325497715.0  313205095.0  306617594.0
...           ...          ...          ...          ...          ...
1964  239069096.0  208246346.0  184392252.0  148807806.0  127455138.0
1963  230599710.0  206420446.0  178823880.0  142714269.0  127354732.0
1962  224041736.0  202783378.0  172741508.0  137464629.0  127460456.0
1961  222196886.0  198854626.0  166558402.0  133606813.0  127266768.0
1960  223557787.0  194920004.0  160122897.0  132065258.0  126570596.0

       Males 2529   Males 3034   Males 3539   Males 4044   Males 4549  ...  \
date                                                                   ...
2021  304184176.0  308770323.0  283342013.0  252677526.0  238749207.0  ...
2020  306243509.0  306298288.0  278670739.0  248265041.0  239380760.0  ...
2019  308834036.0  301641071.0  273910394.0  245159887.0  239140834.0  ...
2018  310713277.0  296708276.0  268841828.0  244013351.0  237876277.0  ...
2017  312088503.0  291846258.0  262872609.0  244088949.0  235227618.0  ...
...           ...          ...          ...          ...          ...  ...
1964  121422713.0  110824195.0  100054082.0   84372619.0   69911656.0  ...
1963  119803597.0  110055390.0   97620862.0   81693176.0   70103561.0  ...
1962  117908655.0  109009916.0   94997885.0   78961209.0   70650140.0  ...
1961  116117718.0  107726675.0   92485715.0   76773033.0   71125782.0  ...
1960  115125109.0  106059293.0   90503442.0   75194713.0   71443112.0  ...

      Females 3539  Females 4044  Females 4549  Females 5054  Females 5559  \
date
2021   274082515.0   246330684.0   235743243.0   224896102.0   202707064.0
2020   269562260.0   242158101.0   236459269.0   221445209.0   195902317.0
2019   264928936.0   239265144.0   236341845.0   218144169.0   188568634.0
2018   260070368.0   238289828.0   235273671.0   215725423.0   181123022.0
2017   254392892.0   238513311.0   232882421.0   213417113.0   175533333.0
...            ...           ...           ...           ...           ...
1964    99124268.0    86881882.0    72524891.0    70298450.0    60863138.0
1963    97727674.0    84048060.0    72901051.0    69368917.0    59563389.0
1962    96087541.0    81062908.0    73668493.0    68294348.0    58353159.0
1961    94252522.0    78630962.0    74334706.0    67232756.0    57238666.0
1960    92535492.0    76922502.0    74699893.0    66247630.0    56336109.0

      Females 6064  Females 6569  Females 7074  Females 7579  Females 80UP
date
2021   165954976.0   145660097.0   109247654.0    71828549.0    95845624.0
2020   165545454.0   141973645.0   103935445.0    70462837.0    94014398.0
2019   164724422.0   137228598.0    98120908.0    69603886.0    91536492.0
2018   162791878.0   132182084.0    92955177.0    68827619.0    88876981.0
2017   159421927.0   126840509.0    88462740.0    68171738.0    86148342.0
...            ...           ...           ...           ...           ...
1964    49896011.0    38267820.0    26880855.0    17371906.0    13009636.0
1963    48676464.0    37307082.0    26387818.0    16790332.0    12587661.0
1962    47453135.0    36251659.0    26019479.0    16202664.0    12237753.0
1961    46346218.0    35283959.0    25648744.0    15739382.0    11915207.0
1960    45368022.0    34507949.0    25342528.0    15396598.0    11637144.0

[62 rows x 34 columns]
Males 0004      348843527.0
Males 0509      350861843.0
Males 1014      336694403.0
Males 1519      319186586.0
Males 2024      307711749.0
Males 2529      306243509.0
Males 3034      306298288.0
Males 3539      278670739.0
Males 4044      248265041.0
Males 4549      239380760.0
Males 5054      220302564.0
Males 5559      189880511.0
Males 6064      154455368.0
Males 6569      126216520.0
Males 7074       87919280.0
Males 7579       55253441.0
Males 80UP       57363155.0
Females 0004    329071642.0
Females 0509    329225029.0
Females 1014    315221758.0
Females 1519    299112617.0
Females 2024    289115754.0
Females 2529    290548637.0
Females 3034    293679967.0
Females 3539    269562260.0
Females 4044    242158101.0
Females 4549    236459269.0
Females 5054    221445209.0
Females 5559    195902317.0
Females 6064    165545454.0
Females 6569    141973645.0
Females 7074    103935445.0
Females 7579     70462837.0
Females 80UP     94014398.0
dtype: float64

In [65]:
def population(year, sex, age_group, country):
    
    country_label = wbdata.search_countries(country)[0]['id']

    df = wbdata.get_dataframe(variables,country=country_label).loc[[str(year)]]

    # for males
    if sex == 'male':
        start_idx = age_group[0] // 5
        end_idx = age_group[1] // 5 + 1
        df2 = df.iloc[:, start_idx:end_idx]

    # for females
    if sex == 'female':
        start_idx = age_group[0] // 5 + len(df.columns)//2
        end_idx = age_group[1] // 5 + 1 + len(df.columns)//2
        df2 = df.iloc[:, start_idx:end_idx]

    if sex == 'people':
        start_idx_m = age_group[0] // 5
        end_idx_m = age_group[1] // 5 + 1
        start_idx_f = age_group[0] // 5 + len(df.columns)//2
        end_idx_f = age_group[1] // 5 + 1 + len(df.columns)//2

        df2 = df.iloc[:, start_idx_m:end_idx_m]
        df3 = df.iloc[:, start_idx_f:end_idx_f]
        df2 = df2.join(df3)
    sum = df2.sum(axis='columns')[0]
    
    return sum

In [8]:
wbdata.search_countries("France")

id    name
----  ------
FRA   France

In [60]:
date = '2020'
sex = 'people'
age_group = (0,9)
country = 'India'

country_label = wbdata.search_countries(country)[0]['id']

df = wbdata.get_dataframe(variables,country=country_label).loc[[date]]

# for males
if sex == 'male':
    start_idx = age_group[0] // 5
    end_idx = age_group[1] // 5 + 1
    df2 = df.iloc[:, start_idx:end_idx]

# for females
if sex == 'female':
    start_idx = age_group[0] // 5 + len(df.columns)//2
    end_idx = age_group[1] // 5 + 1 + len(df.columns)//2
    df2 = df.iloc[:, start_idx:end_idx]

if sex == 'people':
    start_idx_m = age_group[0] // 5
    end_idx_m = age_group[1] // 5 + 1
    start_idx_f = age_group[0] // 5 + len(df.columns)//2
    end_idx_f = age_group[1] // 5 + 1 + len(df.columns)//2
    
    df2 = df.iloc[:, start_idx_m:end_idx_m]
    df3 = df.iloc[:, start_idx_f:end_idx_f]
    df2 = df2.join(df3)

print(df)
#colname
sum = df2.sum(axis='columns')[0]
sum

      males 0004  males 0509  males 1014  males 1519  males 2024  males 2529  \
date
2020  60771735.0  63921193.0  65906417.0  67689391.0  65745248.0  62448056.0

      males 3034  males 3539  males 4044  males 4549  ...  females 3539  \
date                                                  ...
2020  58647559.0  53259451.0  46635684.0  41235304.0  ...    49403314.0

      females 4044  females 4549  females 5054  females 5559  females 6064  \
date
2020    43621841.0    39150349.0    34130103.0    29401712.0    24542975.0

      females 6569  females 7074  females 7579  females 80UP
date
2020    19232661.0    12886752.0     8263871.0     8441710.0

[1 rows x 34 columns]

238907978.0

In [72]:
# test
population(year = 2020, sex = 'people', age_group = (0,72) , country = 'India')

1366273444.0

In [67]:
def population_df(year, country):
    
    country_label = wbdata.search_countries(country)[0]['id']

    df = wbdata.get_dataframe(variables,country=country_label).loc[[str(year)]]
    
    return df

In [69]:
population_df(year=2010, country='India')

,males 0004,males 0509,males 1014,males 1519,males 2024,males 2529,males 3034,males 3539,males 4044,males 4549,...,females 3539,females 4044,females 4549,females 5054,females 5559,females 6064,females 6569,females 7074,females 7579,females 80UP
date,,,,,,,,,,,,,,,,,,,,,
2010,66762871.0,68255358.0,66546666.0,63573345.0,59980845.0,54762384.0,48366584.0,43303427.0,38034285.0,33541016.0,...,40312726.0,35674000.0,31620289.0,27284255.0,22666716.0,16756598.0,12493226.0,9550058.0,6198965.0,5282991.0